
.search-bar {
  padding: 15px 20px;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
  // max-width: 600px;
  padding: 14px 18px;
  border-radius: 999px;
  border: 1px solid #e2e8f0;
  outline: none;
  font-size: 14px;
  transition: all 0.2s ease;
}

/* focus elegante */
input:focus {
  border-color: #0ea5a4;
  box-shadow: 0 0 0 3px rgba(14,165,164,0.2);
}
