<div class="login-container">

  <div class="login-card">

    <img src="assets/logo_letra.png" class="logo">

    <h2>Bienvenido a MedExplorer</h2>
    <p>Inicia sesión para explorar Medellín</p>

    <p class="error" *ngIf="error">{{ error }}</p>

    <form (ngSubmit)="login()">

      <div class="input-group">
        <label>Email</label>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </div>

      <button type="submit" [disabled]="loading">

        <span *ngIf="!loading">Iniciar sesión</span>
        <span *ngIf="loading">Ingresando...</span>

      </button>

    </form>

    <span class="extra">
      ¿No tienes cuenta?
      <b routerLink="/register">Regístrate</b>
    </span>

  </div>

</div>
