<nav class="navbar">

  <div class="logo-container">
    <img src="assets/logo_letra.png" />
  </div>

  <ul class="menu">

    <li class="link" routerLink="/">Inicio</li>

    <!-- PERFIL CLICKABLE -->
    <li class="link profile"
        *ngIf="user$ | async as user"
        routerLink="/profile">

      Hola, {{ user?.name || user?.email }}

    </li>

    <!-- LOGIN -->
    <li class="login-btn" *ngIf="!(user$ | async)" routerLink="/login">
      Login
    </li>

    <!-- LOGOUT -->
    <li class="login-btn logout"
        *ngIf="user$ | async"
        (click)="logout()">
      Cerrar sesión
    </li>

  </ul>

</nav>
